* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
   padding-left: 50rem;
   padding-top: 25rem;
    align-items: center;
    justify-content: space-between;
}

.screen {
    padding-left: 4rem;
    padding-bottom: 5rem;
    font-size: 5rem;
}

.buttons {
    display: flex;
    align-items: center;
}

button {
    font-size: 25px;
}